* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow: hidden; /* 브라우저 자체의 수동 스크롤바 숨김 */
}

/* --- 배경 스크롤 영역 --- */
.image-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1; /* 배경은 뒤로 보냄 */
}

.scroll-img {
    width: 100%;
    height: auto;
    display: block;
}

/* --- 화면 고정 png 공통 스타일 --- */
.fixed-img {
    position: fixed; /* 스크롤과 상관없이 화면의 절대적인 위치에 고정 */
    z-index: 10;     /* 배경 png보다 무조건 앞에 보이도록 설정 */
    max-width: 100%; /* 화면 밖으로 삐져나가지 않도록 방지 */
    height: auto;
}

/* 상단 고정 */
.fixed-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* 화면 가로 기준 정확히 가운데 정렬 */
}
/* 하단 고정 */
.fixed-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* 화면 가로 기준 정확히 가운데 정렬 */
}
/* 중앙 고정 */
.fixed-center {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 세로/가로 기준 정확히 정중앙 정렬 */
    width: 550px;
    z-index: 5; 
    cursor: pointer;
}

